@{

	<center><h2>Welcome to our page!!!!</h2></center>
}

<style>


    body {
        background-color: #FFF8DC;
    }

    h2 {
        font-size: 60px;
        font-family: Britannic;
        margin-top: 5%;
    }

</style>
